body
{
    margin: 0;
    font-family: sans-serif;
}
main
{
    margin: 100px 27%;
}
div
{
    padding: 10px;
}
#cross-second-header
{
    background: url('img/hero.png') no-repeat 700px 0px;
    background-color: #053986;
    height: 250px;
}
pre
{
    background: #fafafa;
    padding: 10px;
}
p
{
    line-height: 1.5;
}
section
{
}
h2, h3
{
    font-weight: 500;
}