body
{
    margin: 0;
    font-family: sans-serif;
}
main
{
    margin: 100px 20%;
}
div
{
    padding: 10px;
}
#cross-second-header
{
    background: url('img/hero.png') no-repeat 500px 50px;
    background-color: #053986;
    height: 250px;
}